.content {
    text-align: center;
}

.upper {
    width: 1000px;
    margin: 50px auto 140px;
}

.cont-sub {
    color: var(--info-header);
    font-size: 36px;
    font-weight: 800;
    line-height: 60px;
}

.cards {
    justify-content: space-around;
    color: var(--quote-text);
    font-size: 20px;
}

.card {
    width: 200px;
}

.card-img {
    width: 200px;
    height: 200px;
    border: 5px solid var(--button);
    border-radius: 20px;
}

.quote {
    background-color: var(--quote-bg);
    padding: 100px 0;
}

.quote-p {
    width: 1000px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: var(--quote-text);
    margin: 0;
}

.quote-name {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    margin: 16px 0;
}

.banner {
    background-color: var(--button);
    width: 1400px;
    height: 180px;
    border-radius: 16px;
    color: var(--hero-main);
    padding: 0 180px;
    box-sizing: border-box;
    margin: 100px auto;
    justify-content: space-around;
}

.banner h1 {
    font-size: 24px;
    margin: 0;
}

.banner p {
    margin: 0;
}

.banner-left {
    text-align: left;
}

.banner-button {
    border: 2px solid var(--hero-main);
}