:root {
    --bg: #1a1a1b;
    --shade: #222222;
    --font: #d7dadc;
    --link: #cc9543;
}

body {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

p,
h1 {
    color: var(--font);
    margin: 0;
    width: fit-content;
    display: inline-block;
}

h1 {
    font-size: 26px;
    margin: auto 0;
    line-height: 30px;
}

h2 {
    font-weight: normal;
}

a {
    color: var(--link);
    text-decoration: none;
    background-image: linear-gradient(var(--link), var(--link));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

a:hover,
a:focus,
a:active {
    background-size: 100% 0.1em;
    background-position-x: 0%;
}

img {
    display: inline-block;
    border-radius: 999px;
    padding: 6px;
    width: 90px;
    height: auto;
    background-color: #ffffff10;
    box-sizing: border-box;
    margin-right: 8px;
}

button {
    background-color: transparent;
    color: var(--font);
    font-size: 16px;
    border: 1px solid var(--font);
    border-radius: 8px;
    padding: 15px 55px;
    /* transition: ease 0.2s; */
}

button:hover {
    background-color: var(--font);
    color: var(--bg);
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
}

.nav {
    width: 1280px;
    height: 60px;
    margin: 0 auto;
    justify-content: space-between;
}

.nav > a {    
    text-decoration: none;
}

.container {
    width: clamp(500px, 80%, 1024px);
    padding: 0 32px;
    box-sizing: border-box;
}

.category {
    background-color: var(--shade);
    padding: 30px 40px;
    border-radius: 24px;
    margin: 30px 0 40px;
}

.title {
    justify-content: space-between;
    height: 90px;
}

.title > div {
    width: 500px;
    height: 90px;
    justify-content: flex-start;
}

.title h1 {
    padding: 30px 10px;
}

.item {
    margin: 30px 0 0;
}

.footer {
    position: absolute;
    bottom: 10px;
}

.footer a {
    color: var(--font);
    text-decoration: underline;
    transition: none;
    background-image: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #222222;
    border-radius: 999px;
    color: #cc9543;
    font-size: 30px;
    width: 70px;
    height: 70px;
    right: 6%;
    bottom: 6%;
}