@font-face {
    font-family: Norse-Bold;
    src: url('assets/Norse-Bold.otf') format('opentype');
}

:root {
    --green: #596D48;
}

body {
    display: flex;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
    align-items: center;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration:none; 
    cursor:pointer;  
}

input {
    border: 2px solid #E5E7EB;
    height: 25px;
    border-radius: 5px;
}

input:focus {
    border: 2px solid #24a0ed;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.validText {
    color: var(--green) !important;
    font-weight: bold;
}

.invalid {
    border: 2px solid rgb(189, 0, 0);
}

button {
    width: 240px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--green);
    margin: 60px 70px 20px;
    border: none;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:hover {
    cursor: pointer;
}

.left {
    height: 100vh;
    width: 60vh;
}

.left > img {
    height: 100vh;
    width: 56vh;
    position: absolute;
    z-index: 0;
    opacity: 0.95;
}

.logo-area {
    display: flex;
    position: relative;
    width: 56vh;
    height: 150px;
    background-color: #00000080;
    margin-top: 20vh;
    z-index: 5;
    justify-content: center;
    align-items: center;
}

.logo-area img {
    height: 120px;
    margin: 5px;
    object-fit: cover;
}

.logo-area > h1 {
    color: #fff;
    font-family: Norse-Bold;
    font-size: 80px;
}

.credit {
    position: relative;
    color: #fff;
    height: calc(80vh - 180px);
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.right {
    width: 100%;
    height: fit-content;
    background-color: #fdfdfd;
}

.right > *:not(button) {
    padding-left: 70px;
}

.right h2 {
    margin: 0 0 25px;
}

.right > p {
    font-weight: bold;
}

.right a {
    text-decoration:none;
    color: var(--green);
}

.intro {
    padding: 0 0 30px;
}

.intro > p {
    font-weight: bold;
    font-size: 20px;
}

.form {
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 40px 0 40px;
}

.row {
    display: flex;
    width: clamp(630px, 38vw, 800px);
    height: 80px;
    justify-content: space-between;
}

.row > div {
    width: 260px;
    height: fit-content;
}

.row p {
    font-size: 12px;
    color: rgb(189, 0, 0);
    margin: 0;
}

form label {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 10px 0;
}

form input {
    margin-top: 6px;
    width: 100%;
}