.cartObject {
    width: 100%;
    height: 130px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.cartObject li {
    display: flex;
    height: 130px;
    marker: none;
    box-sizing: border-box;
}

.cartAmount, .cartCost {
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 200px;
}

.cartAmount {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.cartDesc {
    width: 596px;
    padding: 20px 16px;
    justify-content: left;
    align-items: stretch;
    text-align: left;
}

.cartDesc img {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-left: 13px;
    background-color: var(--border);
    padding: 5px;
    border-radius: 3px;
}

.cartProduct {
    display: inline-block;
    padding-left: 16px;
    box-sizing: border-box;
}

.cartAmount > span {
    display: flex;
    width: 100px;
    height: 30px;
    border: 1px solid var(--bolder);
    border-radius: 5px;
}

.cartAmount button {
    width: 30px;
    height: 100%;
    background-color: transparent;
    padding: 0;
    border: none;
    text-align: center;
    color: #888;
    cursor: pointer;
}

.cartAmount input[type=number] {
    width: 40px;
    height: 30px;
    border: none;
    box-sizing: border-box;
    outline: none;
    border-right: 1px solid var(--bolder);
    border-left: 1px solid var(--bolder);
    font-size: 16px;
    background-color: transparent;
    text-align: center;
}

.cartAmount .material-symbols-outlined {
    font-weight: 200;
    line-height: 30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}