input:invalid {
    outline: 2px solid red;
}

input:valid {
}

input {
    width: 300px;
    height: 25px;
    margin: 0;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.5);
}

select {
    width: 302px;
    height: 27px;
    padding: 1px 2px;
    margin: 0;
    box-sizing: content-box;
    outline: 2px solid transparent;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.5);
}

label {
    letter-spacing: 2px;
    text-align: left;
}

button {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px 30px;
    margin: 20px auto;
    letter-spacing: 2px;
}

button:hover {
    cursor: pointer;
}

.container {
    margin-top: calc(28vh);
    padding: 0 340px;
    box-sizing: border-box;
    text-align: end;
}

form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 36px;
    margin: 20px auto 0;
    box-sizing: border-box;
}