.section-body {
    position: relative;
    margin: 20px 0;
}

.container {
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: baseline;
    margin-bottom: 10px;
}

.container:hover {
    /* outline: 1px solid #00000030; */
    border-radius: 4px;
    cursor: default;
}

.left {
    min-width: calc(25% - 31px);
}

.right {
    width: 100%;
}

.v-line {
    width: 1px;
    height: 100%;
    background-color: #00000030;
    margin: 0 15px;
}

.section-body button {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    cursor: pointer;
    border: 1px solid #00000060;
    border-radius: 4px;
    padding: 1px;
    top: 0;
    background-color: transparent;
    transition: 0.1s ease;
}

.section-body button span {
    font-size: 20px;
    color: #00000060;
}