:root {
    --color: #8E705C;
    --shade: #B3A39C50;
    --white: #ffffff;
}

body {
    display: grid;
    grid-template-columns: clamp(280px, 28%, 350px) auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

p, h1, h2, h3, h4 {
    display: inline-block;
    margin: 0;
    width: fit-content;
}

h3 {
    line-height: 50px;
}

button {
    border: none;
    border-radius: 100px;
    background-color: var(--color);
    color: var(--white);
    height: 38px;
    width: 110px;
    margin: auto;
}

input {
    outline: none;
    border: none;
    border-radius: 999px;
    background-color: var(--shade);
    width: 700px;
    height: 30px;
}

img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.nav {
    background-color: var(--color);
    color: var(--white);
}

.nav > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0px 20px;
}

.nav > div:nth-child(1) > img {
    width: 44px;
    height: 44px;
}

.nav > div:nth-child(1),
.nav > div:nth-child(6) {
    margin-bottom: 50px;
}

.content {
    display: grid;
    grid-template-rows: 180px auto;
}

.content-upper {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.content-upper > div {
    padding: 5px 80px;
}

.search, .search > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search img {
    margin-right: 20px;
}

.search .profile {
    width: 45px;
    height: 45px;
    border-radius: 999px;
}

.user {
    display: grid;
    grid-template-columns: 100px repeat(9,1fr);
    column-gap: 20px;
}

.user > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: 2 / 8;
}

.user p, .user h2 {
    width: 100%;
    margin: 5px 0;
    font-weight: bold;
}

.user .profile {
    width: 100px;
    height: 100px;
    border-radius: 999px;
    margin: 5px 0;
}

.content-lower {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    column-gap: 24px;
    background-color: var(--shade);
    padding: 20px 24px 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px inset;
}

.content-lower > div:first-child {
    grid-row: 1 / 3;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr);
    row-gap: 30px;
    column-gap: 30px;
}

.card {
    background: linear-gradient(90deg, var(--color) 2%, var(--white) 2%);
    width: 100%;
    height: calc((100vh - 340px) / 3);
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.side > .card {
    background: none;
    background-color: var(--white);
    height: calc(50vh - 180px);
}