.book {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 200vw;
    transition: var(--page);
}

.book>div {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 206px;
    box-shadow: #FFF 0 0px 4px, #ffe5b8 0 0px 20px, var(--yellow) 0 0 30px, var(--yellow) 0 0 70px;
}

.modal {
    position: absolute;
    top: 146px;
    right: calc(50vw - 590px);
    width: 180px;
    height: 54px;
    border: var(--moon) 1px solid;
    background-color: var(--moon);
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    opacity: 0;
    transition: 0.2s cubic-bezier(0.55, 0.28, 0.39, 0.88);
    box-shadow: #FFF 0 0px 2px, #ffe5b8 0 0px 4px, var(--yellow) 0 0 10px;
}

.modal-on {
    display: block;
    width: 200px;
    height: 60px;
    opacity: 1;
}

.modal::after {
    display: block;
    position: absolute;
    content: '';
    width: 0%;
    height: 5px;
    border-radius: 100px;
    background-color: var(--black);
    bottom: 1px;
}

.modal-timer::after {
    content: '';
    width: 100%;
    transition: 2s linear;
}