.menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 100vw;
    top: 0;
    transition: var(--page);
}

.menu-board {
    position: relative;
    width: clamp(300px, 80vw, 1200px);
    height: 660px;
    border: 2px solid var(--moon);
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: calc(50vh - 267px);
    background-color: transparent;
}

.menu-content {
    position: absolute;
    display: flex;
    width: calc(80vw - 20px);
    min-width: 284px;
    max-width: 1180px;
    height: 640px;
    border: 1px solid var(--moon);
    box-sizing: border-box;
    top: 8px;
    left: 8px;
    z-index: 5;
    justify-content: space-around;
}

.menu-content > div {
    display: grid;
    position: relative;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    padding: 40px 40px 40px 50px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
}

.menu-content p {
    line-height: 70px;
    margin: 0;
    font-weight: 500;
    text-align: center;
    text-shadow:
        0 0 2px var(--moon),
        0 0 2px var(--yellow),
        0 0 3px var(--selected);
}

.menu-content p:nth-child(-n+3) {
    line-height: normal;
    font-size: 24px;
    font-weight: 600;
}

.menu-content p:nth-child(3n-2) {
    text-align: left;
    letter-spacing: 2px;
}

.menu-content > div::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--moon);
    top: 0;
    right: 0;
}

.menu-content > div:nth-child(3)::after {
    width: 0;
}

.menu-board > div:nth-child(n+2) {
    position: absolute;
    background-color: var(--black);
    border: 2px solid var(--moon);
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

.menu-board > div:nth-child(2) {
    border-radius: 0 0 100px 0;
    border-color: var(--black) var(--moon) var(--moon) var(--black);
    top: -2px;
    left: -2px;
}
.menu-board > div:nth-child(3) {
    border-radius: 0 0 0 100px;
    border-color: var(--black) var(--black) var(--moon) var(--moon);
    top: -2px;
    right: -2px;
}
.menu-board > div:nth-child(4) {
    border-radius: 0 100px 0 0;
    border-color: var(--moon) var(--moon) var(--black) var(--black);
    bottom: -2px;
    left: -2px;
}
.menu-board > div:nth-child(5) {
    border-radius: 100px 0 0 0;
    border-color: var(--moon) var(--black) var(--black) var(--moon);
    bottom: -2px;
    right: -2px;
}