:root {
    --hover-back: #eee;
    --marker: #415a77;
}

body {
    font-family: 'Montserrat';
}

h3 {
    line-height: 40px;
    margin-bottom: 10px;
}

button {
    background-color: #ddd;
    border: none;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 12px;
    margin: 1px 10px;
    box-sizing: border-box;
    border-radius: 18px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 100px auto;
}

.board {
    display: grid;
    width: 420px;
    height: 420px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid #959aa0;
}

.board > div {
    border: 1px solid #959aa0a0;
    position: relative;
}

.ship {
    background-color: #d8e0e9;
}

#your_board {
    opacity: 0.8;
}

#enemy_board {
    border: 2px solid #29394d;
}

#enemy_board > div:hover:not(.shot) {
    background-color: var(--hover-back);
    cursor: pointer;
}

.shot::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background-color: var(--marker);
    left: 18px;
    top: 18px;
}

.ship.shot {
}

.ship.shot::before {
    content: "";
    position: absolute;
    width: calc(1.42 * 100%);
    height: 2px;
    background-color: var(--marker);
    transform: rotate(45deg);
    transform-origin: 0;
    top: -1px;
}

.ship.shot::after {
    content: "";
    position: absolute;
    width: calc(1.41 * 100%);
    height: 2px;
    background-color: var(--marker);
    transform: rotate(135deg);
    left: 40px;
    top: -1px;
    transform-origin: 0;
}

#enemy_board .ship.shot {}

.hide {
    display: none;
}

#win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff90;
    text-align: center;
    padding-top: 300px;
}