@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #d5d2d0;
}

h2, h3, h4, p, a {
    margin: 0;
}

h2 {
    font-size: 30px;
    margin: 10px 0;
}

h3 {
    font-size: 18px;
    margin: 10px 0;
}

h4 {
    font-size: 16px;
}

p, a {
    font-size: 14px;
}

input, textarea {
    font-family: 'Noto Sans KR', sans-serif;
}